<?xml version="1.0" encoding="utf-8"?>
<robot name="PS_World">
  <link name="world" />
  <joint name="world_to_static_scene" type="fixed">
    <parent link="world" />
    <child link="static_scene" />
  </joint>
  <link name="static_scene">
    <visual>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_1_2_40_3.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_2_2_40_4.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_3_2_40_5.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_4_2_40_6.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_5_2_40_7.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_6_2_40_8.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_7_2_40_9.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_8_2_40_10.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_9_2_40_11.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_10_2_40_12.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_11_2_40_13.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_12_2_40_14.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_13_2_40_15.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_14_2_40_16.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_15_2_40_17.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_16_2_40_18.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_17_2_40_19.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_18_2_40_20.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_19_2_40_21.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_20_2_40_22.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_21_2_40_23.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_22_2_40_24.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_23_2_40_25.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_24_2_40_26.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_25_2_40_27.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_26_2_40_28.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_27_2_40_29.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_28_2_40_30.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_29_2_40_31.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_30_2_40_32.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_31_2_40_33.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_32_2_40_34.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_33_2_40_35.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_34_2_40_36.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_35_2_40_37.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_36_2_40_38.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_37_2_40_39.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_38_2_40_40.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_39_2_40_41.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_40_2_40_42.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_1_2_40_3.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_2_2_40_4.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_3_2_40_5.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_4_2_40_6.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_5_2_40_7.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_6_2_40_8.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_7_2_40_9.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_8_2_40_10.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_9_2_40_11.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_10_2_40_12.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_11_2_40_13.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_12_2_40_14.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_13_2_40_15.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_14_2_40_16.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_15_2_40_17.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_16_2_40_18.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_17_2_40_19.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_18_2_40_20.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_19_2_40_21.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_20_2_40_22.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_21_2_40_23.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_22_2_40_24.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_23_2_40_25.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_24_2_40_26.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_25_2_40_27.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_26_2_40_28.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_27_2_40_29.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_28_2_40_30.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_29_2_40_31.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_30_2_40_32.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_31_2_40_33.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_32_2_40_34.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_33_2_40_35.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_34_2_40_36.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_35_2_40_37.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_36_2_40_38.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_37_2_40_39.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_38_2_40_40.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_39_2_40_41.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="package://meshes/static_scene/Convex_40_2_40_42.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
  </link>
</robot>